@charset "utf-8";

#loading {
  width: 100vw;
  height: 100vh;
  transition: all 3s;
  background-color: #ecd4ab;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}
/* ローディングアニメーション */
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

/*  */

body {
    background-color: #fffffc;
}

.pc-only {
    display: block;
  }
  .sp-only {
    display: none;
  }

.header-nav-sp {
    display: none;
}

/* ヘッダー・メインビジュアル */

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 70px 85px 70px;
}

.logo {
    width: 330px;
}

.header-nav ul {
    display: flex;
    gap: 60px;
}

.header-nav li {
    color: #f1c16d;
    font-size: 22px;
}

/* タイトル */

#title {
    text-align: center;
    margin-bottom: 96px;
}

#title h2 {
    font-size: 18px;
    margin-bottom: -38px;
}

#title p {
    font-size: 60px;
    font-weight: bold;
    color: #f1c16d;
    opacity: 0.2;
}

/* メイン */

#main {
    max-width: 1000px;
    margin: 0 auto 160px;
    padding: 0 20px;
}

#main .works-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

#main .works-list li {
    margin-bottom: 64px;
}

#main .works-list img {
    border-radius: 25px;
    margin-bottom: 32px;
}

.orange img {
    border: solid 8px #f1c16d;
}

.blue img {
    border: solid 8px #6bd6c7;
}

#main .works-list li p {
    font-size: 18px;
    padding-left: 32px;
}

#main .works-list li p:first-of-type {
    margin-bottom: 24px;
}

.orange .works-text {
    border-left: 8px solid #f1c16d;
}

.blue .works-text {
    border-left: 8px solid #6bd6c7;
}

  /* フッター */

  #footer {
    background-color: #f1c16d;
    font-size: 24px;
}

.flex-item {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 48px 0 172px 0;
}

.footer-logo {
    width: 215px;
}

.flex-item li {
    margin-bottom: 25px;
    color: #fff;
    font-weight: bold;
}

.flex-item li:last-child {
    margin-bottom: 0;
}

.copyright {
    text-align: center;
    color: #fff;
    padding-bottom: 24px;
}

/* 下からふわっと現れる */
.fadeUp {
  -webkit-animation-name: fadeUpAnime;
          animation-name: fadeUpAnime;    /*アニメーションの名前*/
  -webkit-animation-duration: 1s;
          animation-duration: 1s;         /*アニメーションの実行時間*/
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;  /*アニメーション後、要素が表示されたままにする*/
}
@-webkit-keyframes fadeUpAnime {
  0% {
    opacity: 0;                   /*非表示*/
    -webkit-transform: translateY(100px);
            transform: translateY(100px); /*縦方向に100pxずらす*/
  }
  100% {
    opacity: 1;                   /*表示*/
    -webkit-transform: translateY(0);
            transform: translateY(0);     /*元の位置*/
  }
}
@keyframes fadeUpAnime {
  0% {
    opacity: 0;                   /*非表示*/
    -webkit-transform: translateY(100px);
            transform: translateY(100px); /*縦方向に100pxずらす*/
  }
  100% {
    opacity: 1;                   /*表示*/
    -webkit-transform: translateY(0);
            transform: translateY(0);     /*元の位置*/
  }
}
.fadeUpTrigger {
  opacity: 0;                     /*非表示*/
}

/* ナビ　ホバー時 */
.my-parts {
	display: inline-block;
	transition: all .3s ease 0s;
	text-decoration: none;
}
.my-parts:hover {
	cursor: pointer;
	color: #6bd6c7;
}

/* ==========
レスポンシブ（タブレット）
========== */
@media screen and (max-width: 1150px) {
    .header__inner {
      margin: 50px 20px 85px;
    }
    .header-nav ul {
      gap: 16px;
    }
    .logo {
      width: 250px;
    }
}

/* ==========
レスポンシブ（タブレット）
========== */
@media screen and (max-width: 1150px) {
  .header__inner {
    margin: 50px 20px 85px;
  }
  .header-nav ul {
    gap: 16px;
  }
  .logo {
    width: 250px;
  }
}

/* レスポンシブ（スマホ） */
@media screen and (max-width: 767px) {

/* 共通 */

.pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }

.header__inner {
    margin: 26px 30px 32px 30px;
  }
  .header-nav {
    display: none;
  }
  .hamburger {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 9999;
    margin: 28px 20px 0 0;
  }
  .hamburger span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #f1c16d;
    top: 13px;
    transition: 0.3s;
  }
  .hamburger span::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    background-color: #f1c16d;
    top: -13px;
    transition: 0.3s;
  }
  .hamburger span::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    background-color: #f1c16d;
    bottom: -13px;
    transition: 0.3s;
  }
  /* ハンバーガーメニュー */
  .hamburger.open span::before,
  .hamburger.open span::after{
    background-color: #fff;
  }
  .hamburger.open span::before{
    transform: rotate(45deg);
    top: 0;
  }
  .hamburger.open span::after{
    transform: rotate(-45deg);
    bottom: 0;
  }
  .hamburger.open span{
    background-color: transparent;
  }
  .header-nav-sp {
    position: absolute;
    height: 50vh;
    width: 100%;
    z-index: 9998;
    left: 0;
    top: 0;
    background-color: #f1c16d;
  }
  .header-nav-sp ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-nav-sp li:first-child {
    border-top: 1px solid #fff;
  }
  .header-nav-sp li {
    font-size: 21px;
    color: #fff;
    padding: 20px;
    width: 80%;
    border-bottom: 1px solid #fff;
    position: relative;
  }
  .header-nav-sp a::after {
    position: absolute;
    content: "";
    border-style: solid;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 14px solid #ffffff;
    border-right: 0;
    right: 20px;
  }

  /* タイトル */

  #title .title {
    margin-top: 50px;
  }

  #title h2 {
    margin-bottom: -37px;
  }

/* メイン */
  #main {
    margin-bottom: 64px;
  }

  #main .works-list {
    grid-template-columns: repeat(1, 1fr);
  }

  #main .works-list img {
    box-sizing: border-box;
  }

  /* フッター */

  #footer a {
    font-size: 21px;
  }
  
  #footer img {
    width: 120px;
  }
  
  .flex-item {
    flex-direction: column-reverse;
    gap: 36px;
    padding-left: 30px;
    padding-bottom: 64px;
  }
  .copyright {
    text-align: left;
    padding-left: 30px;
  }

}